extends ../layout.pug

block prepend content
  - var title = "ts status"
  - var subtitle = "-"
  - var text = "users online"

block scripts 
  script(
      src="ts-status.ts"
      type="module"
  )
  link(
    rel="manifest"
    href="manifest.webmanifest"
  )
  meta(
    name="theme-color" content="#859900"
  )

block append subcontainer
  p.hint connect via 0x29a.me:4711
  
block append text
  a.btn(href="ts3server://0x29a.me:4711")
    i.fa-solid.fa-microphone
  a#refreshButton.btn(href="#")
    i.fa-solid.fa-refresh
  a#copyButton.btn(href="#")
    i.fa-regular.fa-copy
  a#listButton.btn(href="#")
    i.fa-solid.fa-list
    
block append content 
  #modalBackdrop.modal-backdrop
    .modal
      .modal-header
        h2 userlist
        a#modalClose(href="#")
          i.fa-solid.fa-xmark.modal-close
      .modal-body
        ul.player-list
  script(type="module").
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker
          .register(new URL('service-worker.js', import.meta.url), { scope: '/ts-status/' })
          .then(reg => console.log('ServiceWorker registered:', reg))
          .catch(err => console.error('ServiceWorker registration failed:', err));
      });
    }