extends ../layout.pug

block prepend content
  - var title = "ts status"
  - var subtitle = "-"
  - var text = "users online"

block scripts 
  script(
      src="ts-status.ts"
      type="module"
  )
  link(
    rel="manifest"
    href="manifest.webmanifest"
  )
  meta(
    name="theme-color" content="#859900"
  )

block append subcontainer
  p.hint connect via 0x29a.me:4711
  
block append text
  button#connectButton.btn(type="button")
    i.fa-solid.fa-microphone
  button#refreshButton.btn(type="button")
    i.fa-solid.fa-refresh
  button#copyButton.btn(type="button")
    i.fa-regular.fa-copy
  button#listButton.btn(type="button")
    i.fa-solid.fa-list
    
block append content 
  #modalBackdrop.modal-backdrop
    .modal
      .modal-header
        h2 userlist
        a#modalClose(href="#")
          i.fa-solid.fa-xmark.modal-close
      .modal-body
        ul.player-list