doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width,initial-scale=1,user-scalable=0,shrink-to-fit=no" 
      name="viewport"
      )
    if title
      meta(
        name="description"
        content=title+" | 0x29a.me"
      )
      title #{title} | 0x29a.me
    else 
      meta(
        name="description"
        content="0x29a.me"
      )
      title 0x29a.me
    link(
      rel="icon"
      href="https://www.0x29a.me/favicon.ico"
    )
    link(
      href="/src/styles/styles.scss" 
      rel="stylesheet"
      )
    if script
      script(
        src=script
        type="module"
      )
    else 
      script(
        src="/src/js/main.js"
        type="module"
      )
    script(
      src="/src/js/rippler.js"
      type="module"
    )
  body
    .container
      .text
        h1
          each char in subtitle
            span #{char}
        .line
        p
          each char in text
            span #{char}